<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="ChangeManagementDb" connectionString="Data Source=SERVERNAME;Initial Catalog=ChangeManagementDB;Integrated Security=True;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <add key="SmtpServer" value="smtp.example.com" />
        <add key="SmtpPort" value="587" />
        <add key="SenderEmail" value="changemanagement@example.com" />
        <add key="SenderName" value="Change Management System" />
        <add key="SmtpUsername" value="changemanagement@example.com" />
        <add key="SmtpPassword" value="your_password_here" />
    </appSettings>
</configuration>